/* Page stations */

/* carte */
#map{
    margin-top:10px;
    height:700px;
}

.searchCity{
    margin-top:100px;
}

#infos{
    height:700px;
    overflow:auto;
}

.stations_infos{
    cursor:pointer;
    width:100%;
}

.info_liste{
    margin-bottom:10px;
    width:100%;
}